## <p style="text-align: center;">BA108_2122_TMD2_CA_2</p>
### <p style="text-align: center;"> Details </p>
#### <p style="text-align: center;">Name: Sunil Judhistira Gauda</p>
#### <p style="text-align: center;">Student ID : 10595858 </p>
##### <p style="text-align: center;">Github : https://github.com/sunil3092/BA108_2122_TMD2_CA2 </p>

#### Imports

In [216]:
import requests as req
from bs4 import BeautifulSoup
import re
import time
import sqlite3
import pandas as pd
import pymongo
import json

#### Using BeautifulSoup
Scarping requires `BeautifulSoup`, it provides us an html parser using which we can pick data from html page.

In [217]:
def manage_tags(html, tags):
    soup = BeautifulSoup(html, "html.parser")

    for page_data in soup(tags):
        page_data.decompose()

    return ''.join(soup.stripped_strings)

#### List of Dictonary's

In [218]:
top_rated_list = []

#### Pages we need to scrape

In [219]:
page_number = [1,2,3,4,5]

#### Method will Scrape from website and privide the top rated restaurants list

In [220]:
for num in page_number:
     url = "https://www.swiggy.com/city/mumbai/top-rated-collection?page=" + str(num)
     request = req.get(url)
     soup = BeautifulSoup(request.content)
     div = soup.find_all("div", {"class" : "_3FR5S"})
     time.sleep(10)
     for i in range( len(div)):
          top_rated = {}
          top_rated["name"] = div[i].find("div", {"class" : "nA6kb"}).text
          top_rated["type"] = div[i].find("div", {"class" : "_1gURR"}).text
          top_rated["rating"] = float(re.sub('\D','',div[i].find("div", {"class" : "_9uwBC"}).text))
          stringValue = div[i].find("div", {"class" : "_3Mn31"}).text
          split_string = stringValue.split("â€¢")
          top_rated["deliviery_time"] = int(re.sub('\D','',split_string[1]))
          top_rated["price_for_two"] = int(re.sub('\D','',split_string[2]))
          discount = div[i].find("span", {"class" : "sNAfh"})
          if discount is not None:
               discount = discount.text
               discount = discount.split("|")
               if len(discount) == 1:
                    top_rated["discount"] = 0
                    top_rated["discount_code"] = discount
               elif len(discount) > 0:
                    top_rated["discount"] = int(re.sub('\D','', discount[0]))
                    top_rated["discount_code"] = re.sub(" ","",discount[1].replace("Use ", ""))

          else:
               top_rated["discount"] = 0
               top_rated["discount_code"] = ""
          top_rated_list.append(top_rated)

#### Modifying data to create a transofrmation before writing to DB

In [221]:
top_list_df = pd.DataFrame(top_rated_list)
top_list_df["discount_code"] = top_list_df["discount_code"].astype(str)

#### Creating a discount Id hashed column based on discount code

In [222]:
top_list_df['discountId'] = top_list_df[["discount_code"]].sum(axis=1).map(hash)

#### Seperating Discount codes

In [223]:
discount_df = top_list_df[["discount_code", "discount", "discountId"]]

In [224]:
discount_df = discount_df.drop_duplicates()

In [225]:
discount_df = discount_df[discount_df["discount_code"] != '']

In [226]:
discount_df

   discount_code  discount           discountId
0      WELCOME50        50  4821316107540707980
2         TRYNEW        60 -7051224302360504236
3         TRYNEW        30 -7051224302360504236
7      STEALDEAL        60  4830801603824642433
10        TRYNEW        50 -7051224302360504236
53      SPECIALS        50  7726160695839779770

#### Making sure the id is string

In [227]:
top_list_df["discountId"] = top_list_df["discountId"].astype(str)
discount_df["discountId"] = discount_df["discountId"].astype(str)

#### Create a SQLITE connection

In [228]:
def db_manager():
    conn = conn = sqlite3.connect('swiggytop.db')
    return conn

#### Method to Write to DB

In [229]:
def write_data_to_db(df,table_name, conn, if_exists_val = 'replace', index_val = False):
    df.to_sql(name=table_name, con=conn, if_exists = if_exists_val, index = index_val )

#### Connection Object

In [230]:
conn_obj = db_manager()

#### Write data to DB

In [231]:
top_list_df = top_list_df.drop(["discount", "discount_code"], axis=1)
write_data_to_db(top_list_df,"SWIGGYTOP", conn_obj, 'replace', False)

In [232]:
write_data_to_db(discount_df,"DISCOUNT", conn_obj, 'replace', False)

#### Check if data is in SQL

In [233]:
data = pd.read_sql("SELECT * FROM SWIGGYTOP", con= conn_obj)

In [234]:
data

,name,type,rating,deliviery_time,price_for_two,discountId
0,TBHC,"Beverages, Pastas, American, Snacks",50.0,68,750,4821316107540707980
1,The Neapolitan Oven,"Pizzas, Salads",50.0,73,750,4821316107540707980
2,Jiaozi - The Asian Kitchen,"Asian, Chinese",50.0,74,450,-7051224302360504236
3,Sagarika Restaurant,"Indian, Chinese",50.0,54,300,-7051224302360504236
4,GoodDo- The Vegan Eatery,"Fast Food, North Indian, Beverages",50.0,56,300,4821316107540707980
...,...,...,...,...,...,...
75,Fabelle Chocolates - ITC Maratha,"Bakery, Desserts, Sweets",45.0,54,600,4821316107540707980
76,Nagori tea point,Beverages,45.0,46,200,4821316107540707980
77,Mezaya,"Desserts, Middle Eastern, Turkish, Lebanese",45.0,49,500,4821316107540707980
78,Caro-Sooper,Ice Cream,45.0,39,400,4821316107540707980
79,Natural Ice Cream,Desserts,45.0,61,150,4821316107540707980

#### Mongo DB Connection

In [235]:

client = pymongo.MongoClient("mongodb+srv://root:WpQUBt0b7UbvrNMb@cluster0.i2bvd.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
sqiggyTopColl = db.swiggytop
discountColl = db.discount

#### Remove Dataframe ID

In [236]:
dict_top_rated = top_list_df.to_dict('r')
dict_discount_codes = discount_df.to_dict('r');

C:\Users\sunil\AppData\Local\Temp/ipykernel_5520/78045211.py:3: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  dict_top_rated = top_list_df.to_dict('r')
C:\Users\sunil\AppData\Local\Temp/ipykernel_5520/78045211.py:4: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  dict_discount_codes = discount_df.to_dict('r');

#### Writing to DB for mongo cloud atlas

In [237]:
sqiggyTopColl.insert_many(dict_top_rated)

In [238]:
sqiggyTopColl.inserted_ids

Collection(Database(MongoClient(host=['cluster0-shard-00-02.i2bvd.mongodb.net:27017', 'cluster0-shard-00-01.i2bvd.mongodb.net:27017', 'cluster0-shard-00-00.i2bvd.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-vy8ltg-shard-0', ssl=True), 'test'), 'swiggytop.inserted_ids')

In [239]:
discountColl.insert_many(dict_discount_codes)

In [240]:
discountColl.inserted_ids

Collection(Database(MongoClient(host=['cluster0-shard-00-02.i2bvd.mongodb.net:27017', 'cluster0-shard-00-01.i2bvd.mongodb.net:27017', 'cluster0-shard-00-00.i2bvd.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-vy8ltg-shard-0', ssl=True), 'test'), 'discount.inserted_ids')

#### The count of data inserted might change due to insert query running again and again

In [241]:
swiggy_top_doc = []
for ent in sqiggyTopColl.find():
    swiggy_top_doc.append(ent)
swiggy_top_doc_df = pd.DataFrame(swiggy_top_doc)

(240, 80)

In [242]:
swiggy_top_doc_df.drop("_id", axis=1 ,inplace=True)
from_comp = swiggy_top_doc_df[swiggy_top_doc_df["name"] == "TBHC"]

In [243]:
to_comp = top_list_df[top_list_df["name"] == "TBHC"]