## <p style="text-align: center;">BA108_2122_TMD2_CA_2</p>
### <p style="text-align: center;"> Details </p>
#### <p style="text-align: center;">Name: Sunil Judhistira Gauda</p>
#### <p style="text-align: center;">Student ID : 10595858 </p>
##### <p style="text-align: center;">Github : https://github.com/sunil3092/BA108_2122_TMD2_CA2 </p>

#### Question:
You are required to develop a Data Acquisition and Preprocessing Pipeline of your choice, including data acquisition (API, Web scraping, DB Extract etc.), Extraction of features and Transformations as appropriate, followed by loading into an appropriate database. The focus of the complexity of the pipeline is your choice.

#### Note:
* For scraping food ordering website https://www.swiggy.com is used.
* The `Top Restaurants and offers are scraped`.
* Data is normalised into `DISCOUNT` and `SWIGGYTOP` tables as a dataframe first and the it is stored in DB.
* The Data Bases used are `SQLITE` for development purpose, and `MONGODB` Cloud Atlas for final version of the project.
* The credentials of DB is temperory  and will be revoked after subject grading is done.

#### Imports

In [1]:
import requests as req
from bs4 import BeautifulSoup
import re
import time
import sqlite3
import pandas as pd
import pymongo

#### Using BeautifulSoup
Scarping requires `BeautifulSoup`, it provides us an html parser using which we can pick data from html page.

In [2]:
def manage_tags(html, tags):
    soup = BeautifulSoup(html, "html.parser")

    for page_data in soup(tags):
        page_data.decompose()

    return ''.join(soup.stripped_strings)

#### List of Dictonary's

In [3]:
top_rated_list = []

#### Pages we need to scrape

In [4]:
page_number = [1,2,3,4,5]

#### Method will Scrape from website and privide the top rated restaurants list

In [5]:
for num in page_number:
     url = "https://www.swiggy.com/city/mumbai/top-rated-collection?page=" + str(num)
     request = req.get(url)
     soup = BeautifulSoup(request.content)
     div = soup.find_all("div", {"class" : "_3FR5S"})
     time.sleep(10)
     for i in range( len(div)):
          top_rated = {}
          top_rated["name"] = div[i].find("div", {"class" : "nA6kb"}).text
          top_rated["type"] = div[i].find("div", {"class" : "_1gURR"}).text
          top_rated["rating"] = float(re.sub('\D','',div[i].find("div", {"class" : "_9uwBC"}).text))
          stringValue = div[i].find("div", {"class" : "_3Mn31"}).text
          split_string = stringValue.split("â€¢")
          top_rated["deliviery_time"] = int(re.sub('\D','',split_string[1]))
          top_rated["price_for_two"] = int(re.sub('\D','',split_string[2]))
          discount = div[i].find("span", {"class" : "sNAfh"})
          if discount is not None:
               discount = discount.text
               discount = discount.split("|")
               if len(discount) == 1:
                    top_rated["discount"] = 0
                    top_rated["discount_code"] = discount
               elif len(discount) > 0:
                    top_rated["discount"] = int(re.sub('\D','', discount[0]))
                    top_rated["discount_code"] = re.sub(" ","",discount[1].replace("Use ", ""))

          else:
               top_rated["discount"] = 0
               top_rated["discount_code"] = ""
          top_rated_list.append(top_rated)

#### Modifying data to create a transofrmation before writing to DB

In [6]:
top_list_df = pd.DataFrame(top_rated_list)
top_list_df["discount_code"] = top_list_df["discount_code"].astype(str)

#### Creating a discount Id hashed column based on discount code

In [7]:
top_list_df['discountId'] = top_list_df[["discount_code"]].sum(axis=1).map(hash)

#### Seperating Discount codes

In [8]:
discount_df = top_list_df[["discount_code", "discount", "discountId"]]

In [9]:
discount_df = discount_df.drop_duplicates()

In [10]:
discount_df = discount_df[discount_df["discount_code"] != '']

In [11]:
discount_df

   discount_code  discount           discountId
0         TRYNEW        60  -236505299753501955
1      WELCOME50        50  1698096169691794754
59     STEALDEAL        60 -5892951901218373180
64      SPECIALS        50  6733434875443474055

#### Making sure the id is string

In [12]:
top_list_df["discountId"] = top_list_df["discountId"].astype(str)
discount_df["discountId"] = discount_df["discountId"].astype(str)

#### Create a SQLITE connection

In [13]:
def db_manager():
    conn = conn = sqlite3.connect('swiggytop.db')
    return conn

#### Method to Write to DB

In [14]:
def write_data_to_db(df,table_name, conn, if_exists_val = 'replace', index_val = False):
    df.to_sql(name=table_name, con=conn, if_exists = if_exists_val, index = index_val )

#### Connection Object

In [15]:
conn_obj = db_manager()

#### Write data to DB

In [16]:
top_list_df = top_list_df.drop(["discount", "discount_code"], axis=1)
write_data_to_db(top_list_df,"SWIGGYTOP", conn_obj, 'replace', False)

In [17]:
write_data_to_db(discount_df,"DISCOUNT", conn_obj, 'replace', False)

#### Check if data is in SQL

In [18]:
data = pd.read_sql("SELECT * FROM SWIGGYTOP", con= conn_obj)

In [19]:
data

,name,type,rating,deliviery_time,price_for_two,discountId
0,Jiaozi - The Asian Kitchen,"Asian, Chinese",50.0,59,450,-236505299753501955
1,Sagarika Restaurant,"Indian, Chinese",50.0,47,300,1698096169691794754
2,GoodDo- The Vegan Eatery,"Fast Food, North Indian, Beverages",50.0,47,300,1698096169691794754
3,Food Quarter,"Pizzas, Pastas, Healthy Food, Continental",49.0,51,500,1698096169691794754
4,Verb,"Pizzas, Fast Food",49.0,58,450,1698096169691794754
...,...,...,...,...,...,...
75,Grill And Chill,"Fast Food, Snacks, Beverages, Juices, Chaat, P...",45.0,54,200,1698096169691794754
76,Shree Devi Restaurant,"North Indian, Chinese, Beverages, Mangalorean",45.0,55,350,1698096169691794754
77,Satyam Chat and Chinese Corner.,North Indian,45.0,51,400,1698096169691794754
78,Steamy Mugs,Fast Food,45.0,49,300,1698096169691794754
79,Fabcafe by Fabindia,"North Indian, Healthy Food, Biryani, Beverages",45.0,67,800,1698096169691794754

#### Mongo DB Connection

In [20]:

client = pymongo.MongoClient("mongodb+srv://root:WpQUBt0b7UbvrNMb@cluster0.i2bvd.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
sqiggyTopColl = db.swiggytop
discountColl = db.discount

#### Remove Dataframe ID

In [21]:
dict_top_rated = top_list_df.to_dict('r')
dict_discount_codes = discount_df.to_dict('r');

C:\Users\sunil\AppData\Local\Temp/ipykernel_8364/3828775402.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  dict_top_rated = top_list_df.to_dict('r')
C:\Users\sunil\AppData\Local\Temp/ipykernel_8364/3828775402.py:2: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  dict_discount_codes = discount_df.to_dict('r');

#### Writing to DB for mongo cloud atlas

In [22]:
sqiggyTopColl.insert_many(dict_top_rated)

In [23]:
sqiggyTopColl.inserted_ids

Collection(Database(MongoClient(host=['cluster0-shard-00-00.i2bvd.mongodb.net:27017', 'cluster0-shard-00-02.i2bvd.mongodb.net:27017', 'cluster0-shard-00-01.i2bvd.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-vy8ltg-shard-0', ssl=True), 'test'), 'swiggytop.inserted_ids')

In [24]:
discountColl.insert_many(dict_discount_codes)

In [25]:
discountColl.inserted_ids

Collection(Database(MongoClient(host=['cluster0-shard-00-00.i2bvd.mongodb.net:27017', 'cluster0-shard-00-02.i2bvd.mongodb.net:27017', 'cluster0-shard-00-01.i2bvd.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-vy8ltg-shard-0', ssl=True), 'test'), 'discount.inserted_ids')

#### The count of data inserted might change due to insert query running again and again

In [27]:
swiggy_top_doc = []
for ent in sqiggyTopColl.find():
    swiggy_top_doc.append(ent)
swiggy_top_doc_df = pd.DataFrame(swiggy_top_doc)
swiggy_top_doc_df.head()

,_id,name,type,rating,deliviery_time,price_for_two,discountId
0,625d468c791f1a9af69f3948,TBHC,"Beverages, Pastas, American, Snacks",50.0,65,750,4821316107540707980
1,625d468c791f1a9af69f3949,The Neapolitan Oven,"Pizzas, Salads",50.0,72,750,4821316107540707980
2,625d468c791f1a9af69f394a,Jiaozi - The Asian Kitchen,"Asian, Chinese",50.0,70,450,-7051224302360504236
3,625d468c791f1a9af69f394b,Sagarika Restaurant,"Indian, Chinese",50.0,52,300,0
4,625d468c791f1a9af69f394c,GoodDo- The Vegan Eatery,"Fast Food, North Indian, Beverages",50.0,52,300,4821316107540707980

In [28]:
top_list_df

,name,type,rating,deliviery_time,price_for_two,discountId
0,Jiaozi - The Asian Kitchen,"Asian, Chinese",50.0,59,450,-236505299753501955
1,Sagarika Restaurant,"Indian, Chinese",50.0,47,300,1698096169691794754
2,GoodDo- The Vegan Eatery,"Fast Food, North Indian, Beverages",50.0,47,300,1698096169691794754
3,Food Quarter,"Pizzas, Pastas, Healthy Food, Continental",49.0,51,500,1698096169691794754
4,Verb,"Pizzas, Fast Food",49.0,58,450,1698096169691794754
...,...,...,...,...,...,...
75,Grill And Chill,"Fast Food, Snacks, Beverages, Juices, Chaat, P...",45.0,54,200,1698096169691794754
76,Shree Devi Restaurant,"North Indian, Chinese, Beverages, Mangalorean",45.0,55,350,1698096169691794754
77,Satyam Chat and Chinese Corner.,North Indian,45.0,51,400,1698096169691794754
78,Steamy Mugs,Fast Food,45.0,49,300,1698096169691794754
79,Fabcafe by Fabindia,"North Indian, Healthy Food, Biryani, Beverages",45.0,67,800,1698096169691794754